## Multiple Linear Regression

#### Problem Statement:


Just like in the previous dataset we explored Linear Regression in 1 variable in which the years of experience was the only dependent variable.
This particular dataset contains the details of 50 startup's and predicts the profit of a new Startup based on certain features.
To Venture Capitalists this could be a boon as to whether they should invest in a particular Startup or not.
So lets say that you work for a Venture Capitalist and your firm has hired you as a Data Scientist to derive insights into the data,
and help them to predict whether a particular startup would be safe to invest in or not.
We can also derive useful insights into the data by actually seeing as to what difference does it make if a Startup is launched in a particular state.
Or Which startup's end up performing better by seeing that if they spent more money on marketing or was it their stellar R&D department which led them to this huge profit.

What I am about to mention might be more on the Theoretical side of Machine Learning but still a bit of theoretical knowledge also doesnt hurt! :P
Before proceeding with building a Linear Regression model there are certain assumptions which should be true 
1)LINEARITY
2)HOMOSCEDASTICITY
3)MULTIVARIATE NORMALITY
4)INDEPENDENCE OF ERRORS
5)LACK OF MULTICOLLINEARITY
Well I wont be discussing all these things, but If we are to proceed with Linear Regression as our ML algorithm in the Future...We must try and keep a track of them.
Those Interested can research about them themselves!!

In [2]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# Importing the dataset
dataset = pd.read_csv('50_Startups.csv')

In [5]:
dataset.head(2)

   R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.2       136897.80        471784.10    New York  192261.83
1   162597.7       151377.59        443898.53  California  191792.06

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
R&D Spend          50 non-null float64
Administration     50 non-null float64
Marketing Spend    50 non-null float64
State              50 non-null object
Profit             50 non-null float64
dtypes: float64(4), object(1)
memory usage: 2.0+ KB

In [12]:
dataset.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [13]:
dataset.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

#The dataset contains the following features(independent variables):--
#........1)R&D Spend-Total amount of money spent on Research and Development by the startup.
#........2)Administration-Total amount of money spent on Administration by the startup.
#........3)Marketing Spend-Total amount of money spent on Marketing by the startup.
#........4)State-The State or region in which the startup is launched or operates.

In [6]:
X = dataset.iloc[:, :-1].values

In [7]:
#The dependent variable Profit which tells you the Profit acquired by the Startup.
y = dataset.iloc[:, 4].values

* If we take a look at our Dataset we can clearly see that State is a String type variable and like we have discussed,
* We cannot feed String type variables into our Machine Learning model as it can only work with numbers.
* To overcome this problem we use the Label Encoder object and create Dummy Variables using the OneHotEncoder object...
* Lets say that if we had only 2 states New York and California namely in our dataset then our OneHotEncoder will be of 2 columns only...
* Similarly for n different states it would have n columns and each state would be represented by a series of 0s and 1s wherein all columns would be 0 except for the column for that particular state.
* For ex:-
If A,B,C are 3 states then A=100,B=010,C=001
I think now you might be getting my point as to how the OneHotEncoder works...

In [8]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder = LabelEncoder()
X[:, 3] = labelencoder.fit_transform(X[:, 3])
onehotencoder = OneHotEncoder(categorical_features = [3])
X = onehotencoder.fit_transform(X).toarray()

/home/ml/anaconda3/envs/py36/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/ml/anaconda3/envs/py36/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

#### Avoiding the Dummy Variable Trap
#The Linear Regression equation would look like-----> y=b(0)+b(1)x(1)+b(2)x(2)+b(3)x(3)+b(4)D(1)+b(5)D(2)+b(6)D(3)...b(n+3)D(m-1)
#Here D(1)...D(m-1) are the m dummy variable's which we had defined earlier in LabelEncoder and OneHotEncoder
#Well if you are sharp enough you might have noticed that the even though there are m dummy variables we have excluded the last dummy variable D(m)
#The reason to that is a concept called Dummy Variable Trap in Machine Learning...and to avoid that we must always exclude the last Dummy Variable
#If you are more interested then feel free to research a bit on Dummy Variable Trap!!

In [10]:
X = X[:, 1:]

In [11]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 100)

In [ ]:
# Fitting Multiple Linear Regression to the Training set
#The Linear Regression equation would look like-----> y=b(0)+b(1)x(1)+b(2)x(2)+b(3)x(3)+b(4)D(1)+b(5)D(2)+b(6)D(3)...b(n+3)D(m-1)
#Importing the Linear Regression Class
from sklearn.linear_model import LinearRegression
#Creating an object of the Linear Regression Class
regressor = LinearRegression()
#Fit the created object to our training set
regressor.fit(X_train, y_train)

In [ ]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)
#Printing the predicted values
print(y_pred)
#To see the difference b/w predicted and actual results we will also print the test values
print(y_test)