In [1]:
import random
from math import *
import operator
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline 

import seaborn as sns
sns.set(style="white", color_codes=True)

from pandas.plotting import scatter_matrix

from sklearn import model_selection
from sklearn.metrics import classification_report

from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [2]:
location = r"E:\\MYLEARN\\2-ANALYTICS-DataScience\\datasets\\iris.csv"

In [3]:
# load the training data from iris.txt
df_training_iris = pd.read_csv(location)

In [4]:
# Extract random n samples as test from the training file
n = 8
index_list = random.sample(range(0, df_training_iris.shape[0]-1), n)
index_list

[23, 78, 80, 25, 82, 46, 144, 36]

In [5]:
# initialize a test dataframe
df_test_iris = pd.DataFrame()
df_test_iris

Empty DataFrame
Columns: []
Index: []

In [323]:
# copy the n training samples as test & drop the rows from the training df
for elem in index_list:
    df_test_iris = df_test_iris.append(df_training_iris.iloc[elem: elem+1])

# drop the rows from the training set (which r now in test dataframe)
df_training_iris.drop(df_training_iris.index[index_list], inplace=True)

In [324]:
df_test_iris

,sepal_length,sepal_width,petal_length,petal_width,Class_name,distance
43,6.0,2.2,5.0,1.5,Iris-virginica,4.196427
34,6.3,2.5,4.9,1.5,Iris-versicolor,4.103657
23,6.4,3.2,5.3,2.3,Iris-virginica,4.662617
110,4.4,2.9,1.4,0.2,Iris-setosa,0.921954
102,5.1,3.5,1.4,0.2,Iris-setosa,0.141421
0,7.6,3.0,6.6,2.1,Iris-virginica,6.145730
71,5.6,2.5,3.9,1.1,Iris-versicolor,2.937686
63,5.6,2.7,4.2,1.3,Iris-versicolor,3.196873

In [325]:
df_training_iris = df_training_iris.reset_index(drop=True)
df_test_iris = df_test_iris.reset_index(drop=True)
print(df_training_iris.shape)
print(df_test_iris.shape)

(105, 6)
(8, 6)

In [326]:
# add a column for 'predicted_class'
df_test_iris['predicated_class'] = ''

In [327]:
df_test_iris.head(5)

,sepal_length,sepal_width,petal_length,petal_width,Class_name,distance,predicated_class
0,6.0,2.2,5.0,1.5,Iris-virginica,4.196427,
1,6.3,2.5,4.9,1.5,Iris-versicolor,4.103657,
2,6.4,3.2,5.3,2.3,Iris-virginica,4.662617,
3,4.4,2.9,1.4,0.2,Iris-setosa,0.921954,
4,5.1,3.5,1.4,0.2,Iris-setosa,0.141421,

In [328]:
df_training_iris['distance'] = 0

# set the value of k number of neighbors to choose
k = 4

In [329]:
# for each test sample
for index_test, row_test in df_test_iris.iterrows():

    # for each row in the dataframe, calculate the distance
    for index, row in df_training_iris.iterrows():
        eucDist = sqrt(((float(row_test.sepal_length) - float(row['sepal_length'])) ** 2 +
                        (float(row_test.sepal_width) - float(row['sepal_width'])) ** 2 +
                        (float(row_test.petal_length) - float(row['petal_length'])) ** 2 +
                        (float(row_test.petal_width) - float(row['petal_width'])) ** 2))

        df_training_iris.loc[index, 'distance'] = eucDist
    
    # sort on distance, ascending.
    df_training_iris.sort_values('distance', ascending=True, inplace=True)
    
    # select the first k rows, into a new df
    df_training_iris_k = df_training_iris.iloc[0:k, :].copy()
    
    df_training_iris_k_grouped = df_training_iris_k['Class_name']
    
    # predicted class
    pred_class = df_training_iris_k_grouped.max()
    
    # save the predicated class in the test data frame
    df_test_iris.at[index_test, 'predicated_class'] = pred_class

In [330]:
df_test_iris

,sepal_length,sepal_width,petal_length,petal_width,Class_name,distance,predicated_class
0,6.0,2.2,5.0,1.5,Iris-virginica,4.196427,Iris-virginica
1,6.3,2.5,4.9,1.5,Iris-versicolor,4.103657,Iris-virginica
2,6.4,3.2,5.3,2.3,Iris-virginica,4.662617,Iris-virginica
3,4.4,2.9,1.4,0.2,Iris-setosa,0.921954,Iris-setosa
4,5.1,3.5,1.4,0.2,Iris-setosa,0.141421,Iris-setosa
5,7.6,3.0,6.6,2.1,Iris-virginica,6.145730,Iris-virginica
6,5.6,2.5,3.9,1.1,Iris-versicolor,2.937686,Iris-versicolor
7,5.6,2.7,4.2,1.3,Iris-versicolor,3.196873,Iris-versicolor